/** main css **/

html, body{
  height: 100%;
}

div {
    display: block;
}

.container {
  width: 70%;
  height: 200px;
  position: relative;

}


/** media queries **/

@media (max-width: 700px) {
    .container{
      background-color: lightblue;
        padding: 0;
        margin: 0 auto;
    }
	
}

@media (min-width: 700px) {
    .header{
      background-color: lightgreen;
    }
	
	#header-main-text {

	}

}